footer{
    background-color: #fff;
    bottom: 0;
    position: absolute;
    width: 100%;
    max-width: 100%;
    padding: 55px 45px;
}

.footer__container{
    display: flex;
    gap: 25px;
    justify-content: space-around;
    height: 100px;
    /*100*/
}

.rights__and__sign{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.rights__and__sign > span{
    font-size: 45px;
    font-family: "Brush Script MT", serif;
    color: #13C1AC;
    font-weight: bolder;
}

.website__info, .support__section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.website__info li, .support__section li{
    list-style: none;
}

