*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #ECEFF1;
    font-family: Wallie,Helvetica;
    /*height: 100%;*/
}

/*container inside the body*/
.page__wrapper{
    /*min-height: 100%;*/
    position: relative;
}

/*div btw the main and the footer*/
.clear {
    clear: both;
    height: 300px; /*220*/
}