/*centering the form*/
main {
    width: 65%;
    margin: 35px auto;
}

/*th title of every section*/
h2 {
    color: #13c1ac;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .875rem;
    margin-bottom: 20px;
}

/*the titles of the input*/
label {
    display: inline-block;
}

/*The common style for most of the sections*/
.basic__info__section,
.category__pro__selection,
.product__photos__container,
.product__location__container {
    background-color: #fff;
    padding: 25px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
}

/*the inputs*/
.name__input__inner_container,
.description__input__inner_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.maxDateForPushing__input__inner_container,
.price__input__inner_container,
.prepaid__input__inner_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.name__input__inner_container input, .description__input__inner_container textarea {
    width: 100%;
}

input, textarea {
    line-height: 1.5;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    height: 50px;
    border-radius: 10px;
}

textarea {
    max-width: 100%;
    height: 150px
}

/*photo upload placeholder*/
/*https://codepen.io/drewvosburg/pen/GoRyPZ*/
.photo__wrapper {
    display: inline-block;
    padding: 15px;
    border: 2px solid black;
    max-width: 100%;
    pointer-events: auto;
    cursor: pointer;
    border-radius: 15px;
}

.uploaded__photo__wrapper:hover {
    box-shadow: 0 4px 6px #25323826;
    transform: scale(1.15);
}

.product__photos__placeholder {
    background-image: url("../img/camera.svg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 100px;
    width: 100px;
}

/*input upload img*/
#uploadImg {
    display: none;
}

/*uploaded image*/
.uploaded__img {
    background-size: cover;
}

/*submit btn*/
.submit__btn button {
    padding: 10px 30px;
    background-color: #13C1AC;
    color: #fff;
    border-radius: 25px;
    font-size: .925rem;
    font-weight: bolder;
    cursor: pointer;
    border-color: #13C1AC;
}

.submit__btn button:hover {
    background-color: #058f7f;
    border-color: #13C1AC;
}