<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <header class="main__header" th:fragment="header">
            <a class="main__header__logo">
                <img th:src="@{/assets/img/auction.PNG}" class="web__logo" alt="website logo">
            </a>
            <div class="search__bar">
                <form class="search" method="get" action="">
                    <div class="search__wrapper">
                        <input name="keywords" type="text" value=""
                                placeholder="Search in all the categories"
                                autocomplete="off"
                                class="search__input">
                        <svg class="Search__icon" viewbox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-width="4" d="M31.263 32.547a1.975 1.975 0 0 1 2.717 0l4.454 4.284a1.81 1.81 0 0 1 0 2.627 1.975 1.975 0 0 1-2.717 0l-4.454-4.283a1.81 1.81 0 0 1 0-2.628zm-.46-2.569c-4.988 4.797-13.072 4.797-18.06 0-4.99-4.8-4.99-12.581 0-17.38 4.988-4.797 13.072-4.797 18.06 0 4.99 4.799 4.99 12.58 0 17.38zm-2.297-2.21c3.722-3.578 3.722-9.382 0-12.961-3.72-3.577-9.747-3.577-13.466 0-3.722 3.579-3.722 9.383 0 12.962 3.72 3.576 9.747 3.576 13.466 0z"/>
                        </svg>
                    </div>
                </form>
            </div>

            <div class="conf__section">

                <a sec:authorize="isAnonymous()" class="login__register__btn" th:href="@{/oauth2/authorization/google}">
                    <span>Login or Sign up</span>
                </a>

                <a sec:authorize="isAuthenticated()" id="upload__btn" th:href="@{/add/product}">
                    <i class="fas fa-plus"></i>
                    Upload Product
                </a>

                <div sec:authorize="isAuthenticated()" class="dropdown">
                    <button class="more__info__dropdwn">
                        <i class="far fa-customer-circle"></i>
                        <span sec:authentication="principal.fullName"></span>
                        <i class="fa fa-caret-down"></i>
                    </button>

                    <div class="dropdown__content">
                        <a href="#">Pushes</a>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" sec:authorize="isAuthenticated()" th:href="@{/logout}">
                                <span> Logout</span>
                            </button>
                        </form>
                        <a th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>