<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>

        <link rel="stylesheet"
              href="/assets/css/index_header.css"
              th:href="@{/assets/css/index_header.css}"
              type="text/css">
        <link rel="stylesheet"
              href="/assets/css/top_section.css"
              th:href="@{/assets/css/top_section.css}"
              type="text/css">
        <link rel="stylesheet"
              href="/assets/css/general.css"
              th:href="@{/assets/css/general.css}"
              type="text/css">
        <link rel="stylesheet" th:href="@{/assets/css/footer_style.css}"
              href="/assets/css/footer_style.css"
              type="text/css">
        <link rel="stylesheet" th:href="@{/assets/css/index.css}"
              href="/assets/css/index.css"
              type="text/css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src='https://kit.fontawesome.com/a076d05399.js'
                crossorigin='anonymous'></script>
    </head>

    <body>
        <div class="page__wrapper">

            <!--The header-->
            <header th:replace="fragments/header.html :: header"></header>

            <section class="top__section">
                <span>The Auction Spot, The leading product auction platform. </span>

                <h2>What product are you interested in bidding on?</h2>

                <div class="categories__container">
                    <button class="left__button" onclick="prevSlide()">
                        <span><i class="fas fa-chevron-left"></i></span>
                    </button>

                    <div class="list__content">
                        <ul id="list">
                            <li class="categories_list_item fade">
                                <a>
                                    <div class="icon_item">
                                        <i class="material-icons">directions_bike</i>
                                    </div>
                                    Bike
                                </a>
                            </li>

                            <li class="categories_list_item fade">
                                <a>
                                    <div class="icon_item">
                                        <i class="material-icons">&#xe531;</i>
                                    </div>
                                    Cars
                                </a>
                            </li>

                            <li class="categories_list_item fade">
                                <a>
                                    <div class="icon_item">
    <!--                                    <img alt="Bikes">-->
                                        <i class="material-icons">&#xe52f;</i>
                                    </div>
                                    Bikes
                                </a>
                            </li>

                            <li class="categories_list_item fade">
                                <a>
                                    <div class="icon_item">
                                        <i class="material-icons">&#xe532;</i>
                                    </div>
                                    Boats
                                </a>
                            </li>

                            <li class="categories_list_item fade">
                                <a>
                                    <div class="icon_item">
                                        <i class="material-icons">games</i>
                                    </div>
                                    Games Console
                                </a>
                            </li>

                            <li class="categories_list_item fade">
                                <a>
                                    <div class="icon_item">
                                        <i class="material-icons">cancel</i>
                                    </div>
                                    Cancel
                                </a>
                            </li>

                            <li class="categories_list_item fade">
                                <a>
                                    <div class="icon_item">
                                        <i class="material-icons">plane</i>
                                    </div>
                                    Plane
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button class="right__button" onclick="nextSlide()">
                        <span><i class="fas fa-chevron-right"></i></span>
                    </button>
                </div>
            </section>

            <main>
                <h2>Check Our surprises</h2>
                <p>Wou will find your objects and much more</p>

                <div class="categories__wrapper">
                    <div class="category__card">
                        <a href="#">
                            <img src="/assets/img/auction.png" alt="category image">
                            <h3>Category name</h3>
                            <span>10.956 products</span>
                        </a>
                    </div>
                    <div class="category__card">
                        <a href="#">
                            <img src="/assets/img/auction.png" alt="category image">
                            <h3>Category name</h3>
                            <span>10.956 products</span>
                        </a>
                    </div>
                    <div class="category__card">
                        <a href="#">
                            <img src="/assets/img/auction.png" alt="category image">
                            <h3>Category name</h3>
                            <span>10.956 products</span>
                        </a>
                    </div>
                </div>
            </main>

            <div class="clear"></div>
            <!-- The footer -->
            <footer th:insert="fragments/footer.html :: footer"></footer>
        </div>
        <script src="/assets/js/slider.js" type="text/javascript"></script>

    </body>
</html>