<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/assets/css/footerr.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/assets/css/general.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/assets/css/header.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/assets/css/product_info.css}" type="text/css">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/weGo_map.css}" type="text/css">

        <!--HERE JS libs-->
        <link rel="stylesheet" type="text/css" th:href="@{https://js.api.here.com/v3/3.1/mapsjs-ui.css}"/>
        <script type="text/javascript" th:src="@{https://js.api.here.com/v3/3.1/mapsjs-core.js}"></script>
        <script th:src='@{https://kit.fontawesome.com/a076d05399.js}' crossorigin='anonymous'></script>
        <script type="text/javascript" th:src="@{https://js.api.here.com/v3/3.1/mapsjs-service.js}"></script>
        <script type="text/javascript" th:src="@{https://js.api.here.com/v3/3.1/mapsjs-ui.js}"></script>
        <script type="text/javascript" th:src="@{https://js.api.here.com/v3/3.1/mapsjs-mapevents.js}"></script>

        <title>Product Details</title>

    </head>
    <body>
        <noscript>You need to enable JavaScript to run this web.</noscript>

        <div class="page__wrapper">
            <header th:replace="fragments/header.html :: header"></header>

            <main>
                <div class="product__card">
                    <div class="card__top__section">
                        <h2>Product Name Eee</h2>
                        <button class="push">Push</button>
                    </div>

                    <div class="card__middle__section__image">
                        <img th:src="@{/assets/img/auction.png}" alt="Product">
                    </div>

                    <div class="card__bottom__section">
                        <span class="price"> <b>36.35$</b> </span>

                        <p class="description">Product description Product description Product description
                            Product description Product description Product description
                            Product description Product description Product description
                        </p>

                        <span class="publication__date">20-05-2022</span>

                        <div class="product__location">
                            <i class='fas'>&#xf3c5;</i>
                            <span>Palma de Mallorca</span>
                            <div class="map__wrapper" id="mapContainer"></div>
                        </div>
                    </div>
                </div>
            </main>

            <div class="clear"></div>

            <footer th:insert="fragments/footer.html :: footer"></footer>
        </div>
        <script th:src="@{/assets/js/map.js}"></script>
    </body>
</html>